header {
	background: rgb(240, 240, 245);
	background: linear-gradient(90deg, rgba(240, 240, 245, 1) 0%, rgba(84, 43, 226, 1) 29%);
	display: flex;
	color: white;
	justify-content: center;
	padding: 1rem;
	font-family: Roboto;
}